/************************************
*   Estilos da Página Historia      *
************************************/
.centro{
    position: relative;
    display: block;
    box-sizing: border-box;
    padding: 1rem;
    margin:0;
    width: 100%;
    text-align: justify;
    font-size: medium;
}

.centro > h1{
    text-align: center;
    font-size: large;
}

.texto{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 80%;
    margin:0;
    padding: 1rem;
    vertical-align:middle;
    text-align: justify;
    font-size: medium;
}

.textocentral{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    vertical-align:middle;
    padding: 1rem;
    margin:0;
    width: 60%;
    text-align: justify;
    font-size: medium;
}

.textolatEsq{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    vertical-align:top;
    padding: 1rem;
    margin:0;
    width: 40%;
    text-align: justify;
    font-size: medium;
}

.textolatDir{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    vertical-align:bottom;
    padding: 1rem;
    margin:0;
    width: 40%;
    text-align: justify;
    font-size: medium;
}

.imagem{
    position:relative;
    display: inline-block;
    box-sizing: border-box;
    vertical-align:middle;
    width: 20%;
    text-align: center;
    margin:0;
}

.imagemlat{
    position:relative;
    display: inline-block;
    box-sizing: border-box;
    vertical-align:middle;
    padding: 1rem;
    text-align: center;
    width: 20%;
}

.imagemcentro{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    vertical-align:middle;
    padding: 1rem;
    margin:0;
    width: 20%;
    text-align: justify;
    font-size: large;
}

.imagem > img{
    padding: 1rem;
    margin: 0;
    width: 90%;
    height: auto;
}

.imagemlat > img{
    padding: 1rem;
    margin: 0;
    width: 90%;
    height: auto;
}

.imagemcentro > img {
    padding: 1rem;
    margin: 0;
    width: 90%;
    height: auto;
}