/********************************
*       Estilos Gerais          *
********************************/

/* Estilos do body */
body{
    background-image: url("../img/fundo2.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat:repeat;
    padding: 3%;
    margin:0;
    color: rgb(0,0,0);
    font-size: 16px;
}

/* Estilos do Header */
header{
    background-color: rgb(209, 209, 209);
    background-image: url("../img/header.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    box-sizing: border-box;
    padding: 8rem 0;
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    min-width: 1000px;
    opacity: 0.95;
    margin:0;
    font-size: 25px;
}

/*Estilos aplicados a elementos apenas para o validador de HTML
*não são apresentados na página*/
.validador{
    display: none;
}


/*******************************
*  Estilos do Fundo da página  *
*******************************/

/*Estilos do Footer*/
footer{
    background-color: rgb(209, 209, 209);
    padding: 1rem;
    opacity: 0.95;
    margin:0;
    min-width: 1000px;
    border-radius: 0 0 1rem 1rem;
    text-align: center;
    font-size: 0;
}

/*Estilos para o elemento onde é indicado a fonte do material no site*/
.fontes{
    font-size: 14px;
    padding: 1rem;
    box-sizing: border-box;
}

/*Estilos do elemento onde indica a informação de quem desenvolveu o site*/
.info{
    font-size: 14px;
    padding: 1rem;
    box-sizing: border-box;
}

/*Estilo para o elemento onde é colocado as anotações das tags utilizadas */
.anotacoes{
    font-size: 12px;
    padding: 1rem;
    position: relative;
    display: inline-block;
    margin: 0;
    width: 50%;
    box-sizing: border-box;
    text-align: left;
    vertical-align: top;
}


/************************
*  Estilos do Conteudo  *
************************/

/*Estilo para as secções de texto, imagens, videos do site */
article{
    padding:0;
    margin:0;
    width: 100%;
    text-align: center;
    box-sizing:border-box;
    font-family:Tahoma, sans-serif
}

/* estilos para o conteúdo principal do site*/
.conteudo{
    background-color: rgb(209, 209, 209);
    box-sizing: border-box;
    padding: 2rem;
    width:100%;
    min-width: 1000px;
    margin:0;
    opacity: 0.95;
    font-size: 0;
}


/************************************
*   Estilos dos Links no texto      *
************************************/

/* Estilo padrão das hiperligações que se encontram no texto */
p a:link,
p a:visited,
p a:active{
    color: rgb(0,0,0);
    text-decoration:underline;
}

/* Estilo para as hiperligações quando o rato está por cima */
p a:hover{
    color: rgb(214, 42, 200);
    text-decoration:underline;
}


/****************************************
*           Estilos do Menu             *
****************************************/

/* Estilo do elemento que contêm o Menu*/
nav{
    background-color: rgb(0, 77, 179);
    width: 100%;
    min-width: 1000px;
    opacity: 0.95;
    margin:0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    font-variant: small-caps;
    font-size: 0;
    box-sizing: border-box;
}

/* Estilo para o Menu */
nav > ul{
    box-sizing: border-box;
    text-align: center;
    list-style: none;
    margin:0;
    padding: 0;
}

/* Estilo para os elementos do menu */
nav > ul > li {
    box-sizing: border-box;
    display: inline-block;
    padding: 1.5rem 2.5rem;
    margin:0;
}

/* Estilo para os endereços do menu */
nav > ul > li > a{
    text-decoration: none;
    color: rgb(255,255,255);
    font-weight: bold;
    margin:0;
    font-size: 22px;
}

/* Estilo para os elementos do menu com sobreposição do ponteiro do rato */
nav > ul> li:hover{
    background-color: rgb(226, 243, 245);
    
}

/* Estilo para os endereços do menu com sobreposição do ponteiro do rato */
nav > ul> li:hover a{
    color: rgb(0,0,0);
}

/* Estilo para o elemento do menu que é referente à página atual */ 
.atual {
    background-color: rgb(69, 146, 175);
}


/****************************************
*   Estilos dos elementos de texto      *
****************************************/

/* Estilo para os titulos das secções de texto */
.titulo {
    font-size: 16px;
    color: rgb(70, 134, 218);
    font-weight: bolder;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
}

/* Estilo para o titulo da secção de anotações */ 
.anotacao-titulo{
    font-size: 14px;
    color:rgb(0,0,0);
    font-weight: bold;
    width: 100%;
    display: block;
}

/*Estilo para elementos que contêm texto que ocupa todo o comprimento do elemento*/
.texto-total{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    margin:0;
    vertical-align:middle;
}

/*Estilo para elementos que contêm texto que ocupa 70% do elemento*/
.texto-70{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 70%;
    margin:0;
    
    vertical-align:middle;
}

/*Estilo para elementos que contêm Texto que ocupa 60% do elemento */
.texto-60{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    vertical-align:middle;
    margin:0;
    width: 60%;
}

/*Estilo para elementos que contêm Texto que ocupa 50% do elemento */
.texto-50{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    vertical-align:middle;
    margin:0;
    width: 50%;
}

/*Estilo para elementos que contêm texto que ocupa 35% do elemento*/
.texto-35{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    vertical-align:middle;
    margin:0;
    width: 35%;
}

/* Estilo para texto */
.texto-lista,
.texto-total > p,
.texto-70 > p,
.texto-60 > p,
.texto-50 > p,
.texto-35 > p{
    text-align: justify;
    font-size: 16px;
    font-family: Verdana;
    color: rgb(0,0,0);
}

/* Estilo para os elementos da lista que está no conteúdo da página inicial */
.texto-lista li{
    margin: 1rem 0;
}


/****************************************
*   Estilos dos elementos de imagem     *
****************************************/

/*Estilo para elemento de imagem com tamanho de 30%*/
.imagem{
    position:relative;
    display: inline-block;
    box-sizing: border-box;
    vertical-align:middle;
    opacity:1;
    padding:1rem;
    width: 30%;
    text-align: center;
    margin:0;
}

/*Estilo para elemento de imagem que ocupa todo o comprimento do elemento */
.imagem-total{
    position:relative;
    display: block;
    box-sizing: border-box;
    opacity:1;
    padding:1rem;
    width: 90%;
    text-align: center;
    margin:0 5%;
}

/*Estilo para elemento de imagem com tamanho de 40%*/
.imagem-40{
    position:relative;
    display: inline-block;
    box-sizing: border-box;
    vertical-align:middle;
    opacity:1;
    padding:1rem;
    width: 40%;
    text-align: center;
    margin:0;
}

/*Estilo para elemento de imagem com tamanho de 33%*/
.imagem-33{
    position:relative;
    display: inline-block;
    box-sizing: border-box;
    vertical-align:middle;
    opacity:1;
    padding:1rem;
    width: 33%;
    text-align: center;
    margin:0;
}

/*Estilo para elemento de imagem com tamanho de 25%*/
.imagem-25{
    position:relative;
    display: inline-block;
    box-sizing: border-box;
    vertical-align:middle;
    opacity:1;
    padding:1rem;
    width: 25%;
    text-align: center;
    margin:0;
}

/*Estilo para as imagem dentro dos elementos de imagens */
.imagem > img,
.imagem-total > img,
.imagem-40 > img,
.imagem-33 > img,
.imagem-25 > img{
    width: 80%;
    height: auto;
}

/* Estilo para colocar margem em alguns elementos das imagens*/
.img-margem{
    margin: 0 0.5%;
}


/************************************
*   Estilos de Videos               *
************************************/

/* Estilos para o elemento que contêm videos com 40% de comprimento */
.video-container{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 40%;
    height: auto;
    padding: 1rem;
}

/* Estilos para o elemento que contêm videos com 50% de comprimento */
.video-container-50{
    position: relative;
    display:block;
    box-sizing: border-box;
    text-align: center;
    width: 50%;
    height: auto;
    margin: 0 25%;
    padding: 1rem;
}

/* Estilos para o elemento que contêm videos com 70% de comprimento */
.video-container-70{
    position: relative;
    display:block;
    box-sizing: border-box;
    text-align: center;
    width: 70%;
    height: auto;
    margin: 0 15%;
    padding: 1rem;
}

/* Estilos para o elementos de vídeo com 25 de altura relativa ao tamanho da fonte do elemento raiz */
.video-container > iframe ,
.video-container-50 > iframe{
    width: 100%;
    height: 25rem;
    border:0;
}

/* Estilos para o elementos de vídeo com 45 de altura relativa ao tamanho da fonte do elemento raiz */
.video-container-70> iframe{
    width: 100%;
    height: 45rem;
    border:0;
}


/****************************************
*   Estilos da Página Categorias        *
****************************************/

/* Estilo para as colunas da página categorias*/
.coluna{
    position:relative;
    display: inline-block;
    margin:0;
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
    width:50%;
    vertical-align: top;
    font-size: medium;
}

/* Estilos para a tabela da página */
.dados {
    border: solid 1px;
    width: 90%;
    margin:0 5%;
}

/* Estilo para as linhas da tabela*/
.linha-dados{
    text-align: justify;
    box-sizing: border-box;
}

/* Estilo para os cabeçalhos da tabela */
.linha-dados > th{
    text-align: center;
    padding: 1rem;
    border: solid 1px;
}

/* Estilo para as células da coluna da tabela "Categoria" */
.celula-dados-C{
    padding: 1rem;
    border: solid 1px;
    width: 25%;
}

/* Estilo para as células da coluna da tabela "Descrição" */
.celula-dados-D{
    padding: 1rem;
    border: solid 1px;
    width: 75%;
}


/************************************
*   Estilos da Página Historia      *
************************************/

/* Estilo para o elemento que contem texto que fica na lateral esquerda de uma imagem na página "história"*/
.texto-lateral-esq{
    vertical-align: top;
}

/* Estilo para o elemento que contem texto que fica na lateral direita de uma imagem na página "história"*/
.texto-lateral-dir{
    vertical-align:bottom;
}
